html,body {
background-color:rgb(236, 172, 213)
color:rgb(278, 172, 213)
}

h1 {
font-size: 50px;
color:rgb(178, 233, 215)

}

.name {
color: rgb(138, 110, 165)
background-color:rgb(150, 110, 165)
border: 8px groove cornflowerblue;
}